img {
  max-width: 100%;
  height: auto;
}

.title-project {
  width: 456px;
}

.title-project_link {
  display: block;
  position: relative;
  height: 0;
  padding-bottom: 13.15789473684211%;
}

.logo {
  position: absolute;
  top:0;right:0;bottom:0;left:0;
  width: 100%;
  height: 100%;
}

.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

// general
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // outline: 1px dotted salmon;
}

html,
body {
  height: 100%;
  background-color: hsl(144, 43%, 66%);
}

body {
  font: 100%/1.5 -apple-system, BlinkMacSystemFont, Calibri, "Segoe UI", AvenirNext-Regular, Verdana, sans-serif;
  box-sizing: border-box;
}

.page-wrap {
  position: relative;
  padding-bottom: 60px;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0 72px, transparent 0, transparent),url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='100' viewBox='0 0 1000 100'%3E%3Crect fill='rgb(255,255,255)' width='1200' height='100'/%3E%3C/svg%3E");
  background-repeat: no-repeat, repeat-y;
  background-position: 0 0, center;
}

.container {
  max-width: 56em;
  margin: 0 auto;
}

header {
  padding-top: 4px;
}

main > article {
  padding: 3em 1em;

  @media (min-width: 800px) {
    padding-left: 3em;
    padding-right: 3em;
  }
}

main > article p {
  max-width: 35em;
}

.site-footer {
  position: absolute;
  right:0;bottom:0;left:0;
  height: 60px;
  text-align: center;
  background-color: #f0f0f0;
}

.colophon {
  display: inline-block;
  padding-top: 1.5em;
}

.github-corner {
  visibility: hidden;
  color: #f0f0f0;

  @media (min-width: 517px) {
    visibility: visible;
  }
}

.github-corner:hover {
  color: hsl(144, 43%, 66%);
}

a {
  color: hsl(236, 75%, 45%);
}

h3 {
  text-transform: uppercase;
  color: #222;
  font-size: 1.25em;
  margin-top: 1em;
}

p {
  padding: .5em 0;
}

.note {
  margin: 2em 0 3em;
  padding: 1em 1.5em;
  background-color: hsl(54,77%,83%);
  border-radius: 3px;
}

// IE11 still needs this:
header,
main,
article,
footer {
  display: block;
}
